.transaction-container {
  display: flex;
  justify-content: center;
}

.transaction-statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 350px;
  margin: auto; 
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  position: relative;;
}

.download-pdf{
    width: 383px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(93, 93, 101, 0.75);
    color: white;
    font-size: 14px;
    background-color: rgb(97, 91, 91);
    transition:  background-color 0.5s ease;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    margin-top: 3px;
}

.download-pdf:hover{
    background-color: rgb(33, 33, 33);
}

.chart-options{
    margin: 10px 10px;
    border: 1px solid black;
    width: 200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.chart-options label{
    font-size: 20px;
    font-weight: 500;
}

.chart-options select{
    font-size: 15px;
    align-items: center;
    justify-content: center;
    height: 20px;
}