.transaction-container {
  display: flex;
  justify-content: center;
}

.transaction-statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  margin: auto; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
