/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.navbar-brand a,
.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items a {
  transition: color 0.3s ease;
}

.nav-items a:hover {
  color: #ccc;
}

/* Not Found */

.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;justify-content: center;
  color: rgb(68,68,68);
  min-height: 80vh;
}

.not-found h2{
  font-size: 55px;
}

.not-found p{
  font-size: 20px;
}