/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.navbar-brand a,
.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items a {
  transition: color 0.3s ease;
}

.nav-items a:hover {
  color: #ccc;
}

.lin-graph{
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.btn-see-statistic{
  background-color: #333;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.percentage-input{
  width: 100%;
  height: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.update-percentage{
    color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    transition: background-color 0.5s;
    background-color: #3791f2;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
}